@mixin button-size($padding-x, $padding-y, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  // :hover
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  // :focus .focus
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  // :disabled .disabled
  &:disabled,
  &.disabled {
    color: $color;
    background: $background;
    border-color: $border;
  }
}

//alert
@mixin alert-style(
  $border-color,
  $border-type,
  $border-width,
  $background-color: rgba($border-color, 0.1)
) {
  background-color: $background-color;
  border:$border-width  $border-type rgba($border-color, 0.3);
}
